<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Here Goes The Burgers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/burger_style.css" type="text/css" />
    <style>
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Glegoo|Great+Vibes|Rufina');
</style>
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
    {{{ body }}}
</body>

</html>