<h1>YUM YUM YUM BURGERS!!</h1>
<H3>What burger would you like to have?</H3>
<ul>
  {{#each burgers}}  
      <button>
          {{burger_name}}
      </button>
  {{/each}}
</ul>

<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>
   <button type="submit">SUBMIT</button>
</form>
 
 
